In [ ]:
from google.colab import drive #memanggil package import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

path = '/content/drive/MyDrive/csv/Pendidikan.csv'
df = pd.read_csv(path)

df.describe()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt

df.plot(kind='scatter', x='siswa', y='guru')

plt.title('Data Sebaran Sekolah SD')
plt.xlabel('siswa')
plt.ylabel('guru')
plt.xlim(0,  573)  #UNTUK MEMBUAT BATAS PADA VISUALISASI X
plt.ylim(0, 42) #UNTUK MEMBUAT BATAS PADA VISUALISAI Y
plt.grid(True)
plt.show()

In [ ]:
import numpy as np
X = np.array(df['siswa']) #Feature
y = np.array(df['guru']) #Target

print(f'x : {X}') #DATA X ITU ADALAH VARIABLE INDEPENDENT ATAU BEBAS
print(f'y : {y}') #VAR Y ITU ADALAH VARIABLE TERIKAT/DEPENDENT

In [ ]:
X = X.reshape(-1, 1)
X.shape

In [ ]:
X

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)

In [ ]:
X_vis = np.array([0, 573]).reshape(-1, 1)
y_vis = model.predict(X_vis)

In [ ]:
plt.scatter(X, y)
plt.plot(X_vis, y_vis, '-r')
plt.title('Data Sebaran Sekolah SD')
plt.xlabel('siswa ')
plt.ylabel('guru')
plt.xlim(0,  573) #UNTUK MEMBUAT BATAS PADA VISUALISASI X
plt.ylim(0, 42) #UNTUK MEMBUAT BATAS PADA VISUALISAI Y
plt.grid(True)
plt.show()

In [ ]:
df['siswa'].sum()

In [ ]:
df['guru'].sum()

In [ ]:
print(f'intercept : {model.intercept_}')
print(f'slope : {model.coef_}')

In [ ]:
jml_penduduk = np.array([13000, 14000, 15000, 16000, 17000]).reshape(-1, 1)
jml_penduduk

In [ ]:
prediksi_indeks = model.predict(jml_penduduk)
prediksi_indeks

In [ ]:
for penduduk, index in zip(jml_penduduk, prediksi_indeks):
  print(f'Jumlah Penduduk : {penduduk} prediksi indeks : {index}')

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
indeks = ('siswa', 'guru')
jumlah = (7674, 469)
c = ['blue', 'red', 'green', 'yellow', 'purple']
plt.title("Data Sebaran Sekolah SD")
plt.xlabel('siswa ')
plt.ylabel('guru')
plt.bar(indeks, jumlah, color = c)
plt.grid(True)
plt.show()

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("Data Sebaran Sekolah SD")
plt.xlabel('siswa ')
plt.ylabel('guru')
ax.pie(jumlah,labels=indeks,autopct='%1.2f%%')
plt.show()